<%= 
  render "shared/navigation",
  nav_title: 'Forgot your password?',
  route_to: new_user_session_path
%>

<section class="form-container">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-fields">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
    </div>

    <div class="button-container fixed-bottom">
      <%= f.submit "Send reset password", class: 'button btn-accept' %>
    </div>
  <% end %>
</section>

<%= render "devise/shared/links" %>
