
<ul>
  <li>
    <% @categories.each do |category| %>
      <div>
        <img
          src="<%= category.icon_url %>" 
          alt="<%= category.name %>"
        />
      </div>
      <div>
        <h2>
          <%= category.name %>
        </h2>
      </div>
      <div>
        <% total = 0 %>
        <% category.expenses.each do |exp| %>
          <% total += exp.amount %>
        <%end%>
        <%= total %>
      </div>
    <% end %>
  </li>
</ul>

<%= link_to("Add new Category", new_category_path) %>