<section>
  <%= form_for(@category) do |form| %>
  <%= form.label :icon %>
    <%= form.file_field :icon, accept: 'image/png, image/jpg' %>
    <%= form.label :name %>
    <%= form.text_field :name %>
  <% end %>
</section>