<section class="category-header">
  <div class="category-icon">
    <% if @category.icon.attached? %>
      <img
        src="<%= url_for(@category.icon) %>" 
        alt="<%= @category.name %>"
      />
    <% end %>
  </div>
  <h2>
    <%= @category.name%>
  </h2>
</section>

<section class="total-header">
  <h3>
    Total expenses
  </h3>
  <span>
    <% total = 0 %>
    <% @category.expenses.each do |expense| %>
      <% total += expense.amount %>
    <% end %>
    <%= total.round(2) %>
  </span>
</section>

<section class="expenses-container">
  <ul>
    <% @category.expenses.each do |expense| %>
      <li class="expense-card">
        <h4>
          <%= expense.name %>
        </h4>
        <span>
          $<%= expense.amount.round(2) %>
        </span>
      </li>
    <% end %>
  </ul>

</section>

<section class="button-container">
  <%= link_to("Add expense",  new_expense_path(from: @category.id), class: 'button btn-accept') %>
</section>