<section>
  <div>
    <% if @category.icon.attached? %>
      <img
        src="<%= url_for(@category.icon) %>" 
        alt="<%= @category.name %>"
      />
    <% end %>
  <h2>
    <%= @category.name%>
  </h2>
</section>

<section>
  <h3>
    Total expenses
  </h3>
  <span>
    <% total = 0 %>
    <% @category.expenses.each do |expense| %>
      <% total += expense.amount %>
    <% end %>
    <%= total %>
  </span>
<section>

<section>
  <ul>
    <% @category.expenses.each do |expense| %>
      <li>
        <h4>
          <%= expense.name %>
        </h4>
        <span>
          <%= expense.amount %>
        </span>
      </li>
    <% end %>
  </ul>

  <%= link_to("Add expense",  new_expense_path(from: @category.id)) %>
</section>