<section class="form-container">
  <h2>
    New expense
  </h2>
  <%= form_for(@expense) do |form| %>
    <div class="form-fields">
      <%= form.text_field :name, placeholder: 'Name' %>
      <%= form.number_field :amount, step: :any, placeholder: 'Amount' %>
    </div>
    <%= form.fields_for :category_expense do |cat_exp| %>
      <%= cat_exp.label :category_id %>
      <% categories_list = current_user.categories.map { |category| [category.name, category.id] } %>
      <%= cat_exp.select :category_id, categories_list, selected: params[:from] %>
    <% end %>
    <div class="button-container fixed-bottom">
      <%= form.submit "Add expense", class: 'button btn-accept' %>
    </div>
  <% end %>
</section>